In [53]:
import pandas as pd
import matplotlib.pyplot as plt
data = {"Age": [25, 35, 42, 28, 22, 38, 45, 30, 32, 50],
        "Exited": [0, 1, 0, 1, 0, 1, 0, 0, 1, 1]
        }
df = pd.DataFrame(data)
df1 = df[df['Exited'] == 0]["Age"].value_counts()
df2 = df[df['Exited'] == 1]["Age"].value_counts()
total_counts = df['Age'].value_counts()
new_df = pd.DataFrame({"Exited_1": df1, "Exited_2": df2})

grouped = new_df.groupby(pd.cut(total_counts.index, 5)).sum()
new_grouped = grouped.div(grouped.sum(axis=1), axis=0)
grouped
new_data = {
        "Age": [25, 35, 42, 28, 22, 38, 45, 30, 32, 50],
        "Exited": [pd.NA, pd.NA, pd.NA, pd.NA, pd.NA, pd.NA, pd.NA, pd.NA, pd.NA, pd.NA]
        }
new_df = pd.DataFrame(new_data)
combined_grouped = grouped.div(grouped.sum(axis=1), axis=0)
age_intervals = combined_grouped[combined_grouped['Exited_1'] < .5].index

for interval in age_intervals:
    mask = new_df['Age'].apply(lambda x: x in interval)
    new_df.loc[mask, 'Exited'] = 1
new_df['Exited'].fillna(value=0, inplace=True)
new_df

   Age  Exited
0   25       0
1   35       0
2   42       1
3   28       0
4   22       0
5   38       0
6   45       1
7   30       0
8   32       0
9   50       1